<div class="container">
    <div class="col-sm-8">
      <div class="comment-tweet">

        <div class="tweet-wrap">


      <%= image_tag @tweet.user.photo_url, class: "img-rounded" %>
      <%= @tweet.user.username %>
      <%= @tweet.body %>
      </div>
      <div class="tweet-picture">
          <% if @tweet.picture.present? %>
          <%= image_tag @tweet.picture, class: "img-rounded"  %><br>
          <% end %>
      </div>
      </div>
        <%= form_for @comment, url: comments_path(tweet_id: @tweet.id, user_id: @current_user.id) do |f| %>
        <%= f.text_area :body, class:"form-control" %>
        <%= f.submit %>
        <% end %>
    </div>
</div>
