<div class="container">


  <div class="col-sm-8">
    <% if @user.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <% @user.errors.full_messages.each do |msg| %>
        <%= msg %><br>
      <% end %>
    </div>
  <% end %>

<h2>Sign up</h2>
<%= form_for @user, url: create_user_path do |f| %>
<%= f.label :username %>
<%= f.text_field :username, class:"form-control" %><br>
<%= f.label :photo_url %>
<%= f.text_field :photo_url, class:"form-control", placeholder:"Copy and paste image location"  %><br>
<%= f.label :password %>
<%= f.password_field :password, class:"form-control" %><br>
<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation, class:"form-control" %>
<%= f.submit %>
<% end %>
</div>
</div>
